/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params.modules_testdata_base_path   = "https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/"
params.outdir                       = 'results'
params.modules_local_testdata_base_path = "${projectDir}/test-data/"

// Impose sensible resource limits for testing
process {
    withName: '.*' {
        cpus   = 4
        memory = 13.GB
        time   = 2.h
    }
}