/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: PROKKA {
        ext.args = '--compliant' 
    }

    withName: 'RAW_CHECK_READS' {
        publishDir = [
            path: { "${params.outdir}/read_screening/raw" },
            mode: 'copy',
            pattern: '*'
        ]
    }
    
    withName: 'CLEAN_CHECK_READS' {
        publishDir = [
            path: { "${params.outdir}/read_screening/clean" },
            mode: 'copy',
            pattern: '*'
        ]
    }
    
    withName: 'FASTQ_SCAN_PE_RAW' {
        publishDir = [
            path: { "${params.outdir}/read_qc/fastq_scan/raw" },
            mode: 'copy',
            pattern: '*'
        ]
    }
    
    withName: 'FASTQ_SCAN_PE_CLEAN' {
        publishDir = [
            path: { "${params.outdir}/read_qc/fastq_scan/clean" },
            mode: 'copy',
            pattern: '*'
        ]
    }
    
    withName: 'FASTQC_RAW' {
        publishDir = [
            path: { "${params.outdir}/read_qc/fastqc/raw" },
            mode: 'copy',
            pattern: '*'
        ]
    }
    
    withName: 'FASTQC_CLEAN' {
        publishDir = [
            path: { "${params.outdir}/read_qc/fastqc/clean" },
            mode: 'copy',
            pattern: '*'
        ]
    }
    
    withName: 'TRIMMOMATIC_PE' {
        publishDir = [
            path: { "${params.outdir}/read_processing/trimmomatic" },
            mode: 'copy',
            pattern: '*'
        ]
    }
    
    withName: 'FASTP_PE' {
        publishDir = [
            path: { "${params.outdir}/read_processing/fastp" },
            mode: 'copy',
            pattern: '*'
        ]

    }
}
