/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data for test
    input = null  // Will use direct read inputs instead
    
    // Override thresholds for small test data
    min_reads              = 1000
    min_basepairs          = 100000
    min_genome_length      = 10000
    max_genome_length      = 10000000
    min_coverage           = 2
    min_proportion         = 30
    
    // Speed up testing by disabling some modules
    perform_characterization = true
    call_ani               = false
    call_kmerfinder        = false
    call_resfinder         = false
    call_plasmidfinder     = false
    call_abricate          = false
    call_midas             = false
    call_kraken            = false
    
    // Use faster assembler for tests
    assembler              = 'skesa'
    call_pilon            = false
    run_filter_contigs    = false
    
    // Simpler annotation for speed
    genome_annotation      = 'prokka'
    
    // Tool parameters adjusted for test data
    quast_min_contig_length = 200
    trim_min_length        = 50
}
