/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/digger -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    // TODO nf-core: Specify the paths to your full test data ( on nf-core/test-datasets or directly in repositories, e.g. SRA)
    // TODO nf-core: Give any required params for the test so that command line flags are not needed
    // Override thresholds for small test data
    min_reads              = 1000
    min_basepairs          = 100000
    min_genome_length      = 10000
    max_genome_length      = 10000000
    min_coverage           = 2
    min_proportion         = 30
    
    // Speed up testing by disabling some modules
    perform_characterization = true
    call_ani               = false
    call_kmerfinder        = false
    call_resfinder         = false
    call_plasmidfinder     = false
    call_abricate          = false
    call_midas             = false
    call_kraken            = false
    
    // Use faster assembler for tests
    assembler              = 'skesa'
    call_pilon            = false
    run_filter_contigs    = false
    
    // Simpler annotation for speed
    genome_annotation      = 'prokka'
    
    // Tool parameters adjusted for test data
    quast_min_contig_length = 200
    trim_min_length        = 50
}
